<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="referrer" content="always">

<title></title>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='stylesheets/bootstrap-theme.css') }}" />
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='stylesheets/application.css') }}" />
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='stylesheets/homepage.css') }}" />
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='stylesheets/individual.css') }}" />
<script src="{{ url_for('static', filename='javascripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/application.js') }}"></script>
<style>
  textarea {
    width: 100%;
    height: 350px;
  }
</style>
</head>

<body class="no-logo fae">

<header id="branding" role="banner">
  <div class="header">
    <div class="hgroup">
      <div class="container">
        <div class="row">

          <div class="site-logo col-lg-3 col-md-3 col-sm-3 hidden-xs logo-sm">
            <a href="http://brown.edu" target="_blank"><img alt="Brown University" src="../static/images/brown_logo_small.png" /></a>
          </div>
          <div class="site-title col-lg-6 col-md-6 col-sm-6 hidden-xs">
            <h1>
              <a href="/">Researchers@Brown</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




<script type="text/javascript">
  var vivoId = "eshih1";
  var facultyId = "http://vivo.brown.edu/individual/eshih1";
  var showViz = false;
  var hasCoauthors = false;
  var hasCollaborators = true;
</script>

<script type="text/javascript">
  var researcherTabs = ["tabOverview", "tabPublications", "tabResearch",
    "tabBackground", "tabAffiliations", "tabTeaching"];

  function publicationsShowAll() {
    // show all publications
    $(".pub-item").removeClass("hidden");
    $(".btn-filter-pub").removeClass("active");
    $("#btn-for_all").addClass("active");
  }

  function publicationsShowOnly(filter) {
    // hide all publications except the ones that we want to filter
    $(".pub-item").addClass("hidden");
    $(".pub-type_" + filter).removeClass("hidden");
    $(".btn-filter-pub").removeClass("active");
    $("#btn-for_" + filter).addClass("active");
  }

  function isValidTab(name) {
    var i;
    for(i = 0; i < researcherTabs.length; i++) {
      if (name == researcherTabs[i]) {
        return true;
      }
    }
    return false;
  }

  function updateUrl(hash) {
    if(history.replaceState) {
      // reference http://stackoverflow.com/a/14690177/446681
      history.replaceState(null, null, hash);
    }
  }

  function getUrlParameter(param) {
    var url = window.location.search.substring(1);
    var params = url.split('&');
    var i, tokens;
    for (var i = 0; i < params.length; i++) {
      tokens = params[i].split('=');
      if (tokens[0] == param) {
        return tokens[1];
      }
    }
    return null;
  }

  function showTab(name) {
    var i;
    if (name == "tabAll") {
      // show all tabs
      for(i = 0; i < researcherTabs.length; i++) {
        $("#" + researcherTabs[i]).removeClass("hidden");
        $("#" + researcherTabs[i] + "Btn").removeClass("active");
      }
      $("#tabAllBtn").addClass("active");
      updateUrl("#All")
    } else {
      if (isValidTab(name)) {
        // hide all tabs
        for(i = 0; i < researcherTabs.length; i++) {
          $("#" + researcherTabs[i]).addClass("hidden");
          $("#" + researcherTabs[i] + "Btn").removeClass("active");
        }
        // show the indicated tab
        $("#" + name).removeClass("hidden");
        $("#tabAllBtn").removeClass("active");
        $("#" + name + "Btn").addClass("active");
        if (name == "tabOverview") {
          updateUrl("#");
        } else {
          updateUrl("#" + name.substring(3));
        }
      } else {
        // invalid tab, do nothing.
      }
    }
  }

  $(document).ready(function() {
    var tabId;
    if(window.location.hash) {
      // use the tab indicated in the URL
      tabId = "tab" + window.location.hash.substring(1);
      showTab(tabId);
    }

    if (showViz) {
      if (hasCoauthors) {
        $("#viz_coauthor").removeClass("hidden");
      }
      if (hasCollaborators) {
        $("#viz_collab").removeClass("hidden");
      }
    }
  });
</script>



<nav role="navigation" class="navbar navbar-default navbar-static-top navbar-inverse col-lg-3 col-lg-push-9 col-md-4 col-md-push-8 col-sm-4 col-sm-push-8" id="sticky-nav">
    <div class="container">
        <h1 class="sr-only">Search</h1>

        <div class="navbar-header">
        </div>

        <form class="navbar-form navbar-right " action="/search" method="GET">
            <div class="form-group">
                <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span>
                <input
                    autocomplete="off"
                    name="q"
                    id="query_top"
                    title="Search query"
                    value=""
                    accesskey="q"
                    placeholder="Find an expert..."
                    class="form-control query ui-autocomplete-input"
                    type="text">
            </div>

            <button type="submit" class="btn btn-default sympl-search hidden-xs">
                <span class="glyphicon glyphicon-search" role="submit" aria-hidden="true"></span>
                <span aria-only="true">Search</span>
            </button>

            <button type="submit" class="btn btn-default btn-block sympl-search hidden-sm hidden-md hidden-lg">
                <span class="glyphicon glyphicon-search" role="submit" aria-hidden="true"></span>
                <span aria-only="true">Search</span>
            </button>

        </form>
    </div>
</nav>


<div class="container profile">
  <div class="row person-content">
    <div class="container profile-page">
        <div class="wrapper__back-to-search col-xs-12"><a href="javascript: history.go(-1)" class="back-to-search"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to search</a></div>
      <div class="row subnavbar">
    <div class="below-nav-links">
        <p>
          <span class="advanced-search"><a href="/search/advanced?">Advanced search&hellip;</a></span>
          <span class="profile-login"><a href="https://vivo.brown.edu/manager">Manage your Profile</a></span>
        </p>
    </div>
</div>

      <div class="col-md-3 col-sm-4 col-xs-12">
  <section itemscope="" itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
    <section class="share-contact" role="region">
      <div id="photo-wrapper" aria-hidden="true">
        <img alt="Faculty Picture" width="175" class="img-circle" src="{{url_for('static', filename='images/person_placeholder.jpg')}}" />
      </div>
      <h2 class="hidden-sm hidden-md hidden-lg">
      </h2>

      <!-- Contact Info -->
      <div class="emailsContainer">
          <a href="mailto:Elena_Shih@brown.edu" title="Email {{ name }}">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </a>
      </div>

      <div id="tabButtons" class="btn-group-vertical">
          <!-- On these links we use the `href` value to allow users to bookmark
               these links, but use `onclick` to select tabs via JavaScript
               rather than a full page reload. -->
          <a id="tabOverviewBtn"
            class="btn btn-default active"
            href="#Overview"
            onclick="javascript:showTab('tabOverview'); return false;"
            title="Overview">
              <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
              Overview
          </a>
            <a id="tabPublicationsBtn"
              class="btn btn-default"
              href="#Publications"
              onclick="javascript:showTab('tabPublications'); return false;"
              title="Publications">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                Publications
            </a>

            <a id="tabResearchBtn"
              class="btn btn-default"
              href="#Research"
              onclick="javascript:showTab('tabResearch'); return false;"
              title="Research">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                Research
            </a>

            <a id="tabBackgroundBtn"
              class="btn btn-default"
              href="#Background"
              onclick="javascript:showTab('tabBackground'); return false;"
              title="Background">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                Background
            </a>

            <a id="tabAffiliationsBtn"
              class="btn btn-default"
              href="#Affiliations"
              onclick="javascript:showTab('tabAffiliations'); return false;"
              title="Affiliations">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                Affiliations
            </a>

            <a id="tabTeachingBtn"
              class="btn btn-default"
              href="#Teaching"
              onclick="javascript:showTab('tabTeaching'); return false;"
              title="Teaching">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                Teaching
            </a>

            <a id="tabAllBtn"
              class="btn btn-default"
              href="#All"
              onclick="javascript:showTab('tabAll'); return false;"
              title="View All">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                View All
            </a>

            <a class="btn btn-default"
              href=""
              target="_blank"
              title="Curriculum Vitae">Curriculum Vitae [PDF]</a>
      </div>

    </section>
  </section>
</div>

      <div class="col-md-9 col-sm-8 col-xs-12" id="section_overview">
  <h2 class="vcard foaf-person individual_overview hidden-xs">{{shortid}}</h2>
  <h3 class="individual_overview"></h3>

  <div class="tabFinder" id="tabOverview">
    <h3>Overview</h3>
    <button id="edit-overview">Edit</button>
    <p></p>
    <textarea id="overview" hidden></textarea>

      <h4 class="brown-affiliations panel-heading">Brown Affiliations</h4>
      <div class="brown-affiliations-list">
      </div>

      <h4 class="research-areas panel-heading">Research Areas</h4>
      <div class="brown-research-areas-list">
      </div>

      <h4 class="research-areas panel-heading">On the Web</h4>
      <div class="brown-research-areas-list">
      <button id="edit-links">Edit</button>
      <ul id="links">
        <li id="link_template"><input class="url" type="text"><input class="link_text" type="text"></li>
      </ul>
<!--             <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <a href="http://www.elenashih.org" target="_blank">Personal Website</a><br/> -->
      </div>
     <!-- on_the_web.count -->
    <br/><br/>
  </div> <!-- panel -->


    <div id="tabResearch" class="panel panel-default hidden">
    <h3>Research</h3>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Research Overview</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">

    </div>
  </div>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Research Statement</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">

    </div>
  </div>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Funded Research</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">

    </div>
  </div>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Scholarly Work</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
 
    </div>
  </div>
  </div>

    <div id="tabBackground" class="panel panel-default hidden">
    <h3>Background</h3>

          <div class="panel-heading">
            <h4 id="relatedBy-Authorship" title="" class="panel-title">Education and Training</h4>
          </div>

          <div class="panel-body">
            <table class="table table-hover background__education">
              <tbody>
                <tr>
                  <th>Year</th>
                  <th>Degree</th>
                  <th>Institution</th>
                </tr>
                  <tr class="tableRow" role="listitem">
                    <td class="citation-data">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
       <!-- education.count -->

          <div class="panel-heading">
            <h4 id="relatedBy-Authorship" title="" class="panel-title">Postdoctoral/Other Training</h4>
          </div>
          <div class="panel-body panel-body-postdoc">
            <table class="table table-hover">
              <tbody>
                  <tr class="tableRow" role="listitem">
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Honors and Awards</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
    </div>
  </div>


  </div> <!-- panel -->

    <div id="tabAffiliations" class="panel panel-default hidden">
    <h3 style="padding-bottom: 21px;">Affiliations</h3>

          <div class="panel-heading">
            <h4 id="relatedBy-Authorship" class="panel-title">Collaborators</h4>
          </div>

          <div class="panel-body panel-body-collaborators">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Title</th>
                </tr>
                  <tr class="tableRow" role="listitem">
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>

        <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Affiliations</h4>
  </div>

  <div class="panel-body">
    <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
    </div>
          <div class="panel-heading">
            <h4 id="relatedBy-Authorship" title="" class="panel-title">Credentials/Licenses</h4>
          </div>

          <div class="panel-body panel-body-credentials">
            <table class="table table-hover">
              <tbody>
<!--                   <tr class="tableRow" role="listitem">
                    <td>Controlled Substance License</td>
                    <td>Rhode Island</td>
                    <td>2011-Present</td>
                    <td></td>
                  </tr> -->
                  <tr class="tableRow template" role="listitem">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 id="relatedBy-Authorship" title="" class="panel-title">Appointments</h4>
          </div>

          <div class="panel-body">
            <table class="table table-hover">
              <tbody>
                  <tr class="tableRow" role="listitem">
<!--                     <td>
                      <span>Medical Director</span>.
                        <span>
                          <a href="https://vivo.brown.edu/search?q=appointment_at:&quot;Rhode+Island+Hospital&quot;"
                            title="Find researchers that had appointments at this institution">
                            Rhode Island Hospital</a>,
                        </span>
                      <span></span>
                      <span>2012-Present</span>
                    </td> -->
                  </tr>
                  <tr class="tableRow template" role="listitem">
                    <td>
                      <span></span>.
                        <span><a></a>,
                        </span>
                      <span></span>
                      <span></span>
                    </td>
                  </tr>

              </tbody>
            </table>
          </div>
  </div> <!-- panel -->


  </div> <!-- panel -->

    <div id="tabTeaching" class="panel panel-default hidden">
    <h3>Teaching</h3>

      <div class="panel-heading">
    <h4 id="relatedBy-Authorship" title="" class="panel-title">Teaching Overview</h4>
  </div>

  <div class="panel-body">
     <div class="property-list" role="list" id="relatedBy-Authorship-List" displaylimit="5">
    </div>

  </div>


        <div class="panel-heading">
          <h4 id="relatedBy-Authorship" title="" class="panel-title">Teaching</h4>
        </div>

        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
                <tr class="tableRow" role="listitem">
                  <td class="citation-data">
                  </td>
                </tr>
            </tbody>
          </table>
        </div>

  </div> <!-- tabTeaching panel -->

</div> <!-- col-md-9 -->

    </div>
  </div>
</div>

<footer role="contentinfo" class="footer col-sm-12">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <nav role="navigation">
          <ul id="footer-nav" role="list">
            <li role="listitem">
              <a href="/about" title="About Researchers@Brown">About</a>
            <li role="listitem">
              <a href="/help" title="Help and Frequently Asked Questions">Help</a>
            <li role="listitem">
              <a href="http://brown.edu/" target="_blank">Brown University</a>
            <li role="listitem">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9_8wO8f6Vd0E0N_ZVXiBN2YSO7NmWvP-utEGiQLJXz3nkJA/viewform?usp=pp_url&amp;entry.1922592043&amp;entry.911094868&amp;entry.1400327620&amp;entry.197578216&amp;entry.19651479=https%3A%2F%2Fvivo.brown.edu%2Fdisplay%2Feshih1" target="_blank" title="Submit feedback about Researchers@Brown">Feedback</a>
          </ul>
        </nav>
        <p class="copyright">
          &copy; 2017 <a href="http://brown.edu/" target="_blank">Brown University</a> |
          <a class="terms" href="/termsOfUse" title="Terms of Use">Terms of Use</a> |
          Powered by <a href="http://vivoweb.org/" target="_blank" title="Powered by VIVO"><strong>VIVO</strong></a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  var $edit_ovr, $ovr, shortid;

  shortid = "{{ shortid }}";

  $edit_ovr = $('#edit-overview');
  $ovr = $('#overview');
  $edit_link = $('#edit-links');
  $links = $('#links');
  $link_tmpl = $('#link_template');
  $link_tmpl.detach();

  $edit_ovr.on('click', function() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "{{ url_for('get_overview', shortid=shortid) }}",
      success: function( data ) {
        $ovr.val( data );
        $ovr.prop('hidden', false);
      }
    });
  });

  $edit_link.on('click', function() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "{{ url_for('get_weblinks', shortid=shortid) }}",
      success: function( data ) {
        for (link of data) {
          $link = $link_tmpl.clone();
          $link.find('.url').val(link.url);
          $link.find('.link_text').val(link.link_text);
          $links.append($link);
        }
      }
    });
  });

  $appts_link.on('click', function() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "{{ url_for('get_appointments', shortid=shortid) }}",
      success: function( data ) {
        for (link of data) {
          $link = $link_tmpl.clone();
          $link.find('.url').val(link.url);
          $link.find('.link_text').val(link.link_text);
          $links.append($link);
        }
      }
    });
  });
</script>
</body>

</html>
